body {
	background: url(../bg/five.jpg) fixed;
	background-size: cover;
}

article {
	margin-top: 100px;
	width: 100%;
	float: left;
	display: none;
	
}
h3,h2 {
	color: #853300;
}

#content {
	float: left;
	color:black;
	min-height: 1000px;	
}
nav {
	margin-bottom: 0px;
}
#content img {
	width: 400px;
	
	float: left;
	margin-right: 10px;
}
ol {
	list-style-position:inside;
}

