 @media screen and (max-width: 1367px) {
   /*Для всіх*/
   #wrap {
   	width: 750px;
   }
  
   body{
   	font-size: 14px;
   } 
   h1 {
   	font-size: 24px;
   }
   nav {   	
   	width: 100%
   }
   #content  {
		min-height: 200px;
   }
   nav a {
		padding:18px 18px;
	 }
	 .bigMenu {
    padding: 10px 23%;
   }
   .submenu {
		width: 90px;
   } 
   /*контакти*/
   iframe {
    margin: 30px 150px;
    width: 400px;
    height: 300px;
   }
   /*сторінка меню*/
   .foto, .foto::after {
    width: 200px;
    height: 150px;
   }
    /*слайдери*/
  
   #slide {
    height: 447px;
    width: 670px;
   }
   /*книга вігуків*/
   #book {
    width: 600px;
    height: 435px;
    background-size: cover;
    margin-left: 30px;
   }
   #input, #output {
      width: 298px;
      height: 425px;
   }
   #output {
    margin: 0px;    
    width: 250px;
   }
   #angularout {
     width: 200px;
     margin-left: 10px;
     font-size: 12px;
   }
  form[name="first"] {
      margin-top: 140px;
      margin-left: 70px;
  }

}